{% extends "blog/base.html" %}

{% block content %}
{% for post in posts %}
<a href="{{ post.get_absolute_url }}" class="post-link">
  <article class="post-list-item">
    <div class="post-text">
      <h2>{{ post.title }}</h2>
      <time>{{ post.created_at|date:"d F Y" }}</time>
      <p>{{ post.content|truncatewords:30 }}</p>
    </div>
    {% if post.image %}
    <div class="post-thumb">
      <img src="{{ post.image.url }}" alt="{{ post.title }}">
    </div>
    {% endif %}
  </article>
</a>
{% endfor %}

{% endblock %}