{% extends "blog/base.html" %}
{% load thumbnail %}
{% block content %}
<article class="post">

  {% if post.image %}
    <div class="post-cover-banner">
<img src="{% thumbnail post.image 1200x300 crop=post.cropping %}" alt="{{ post.title }}">
    </div>
  {% else %}
   <!-- <div class="post-image image-placeholder">
      <i class="fas fa-image"></i>
      <span>Görsel Yok</span>
    </div> -->
  {% endif %}

  <div class="post-text">
    <h1>{{ post.title }}</h1>
    <div class="post-content">
      {{ post.content|safe }}
    </div>
  </div>
</article>

<div class="back-buttons">
  <a href="javascript:history.back()" class="btn btn-outline">← Geri Dön</a>
  <a href="{% url 'post_list' %}" class="btn btn-primary">🏠 Ana Sayfa</a>
</div>
{% endblock %}